<div id="background7"></div>
<div class="signees">
    {{# signers}}
    {{user_first}} {{user_last}}, <a href="/signatures/{{profile_city}}">{{profile_city}}</a> {{country}}<br>
    {{/ signers}}
</div>
